{%extends 'base.html'%}

{%block text%}
Weddings and Live Gigs
{%endblock%}
{%block content%}
<style type="text/css">
    .photo {
        margin-right: auto;
        margin-left: auto;
        width: auto;
        max-height: 250px;
        margin-bottom: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .element {
        width: 400px;
        height: 450px;
        border: 1px solid black;
        margin-bottom: 30px;
        text-overflow: ellipsis;

        overflow: hidden;
        text-align: center;
    }

    .element divphoto {
        width: 400px;
        height: 250px;
        display: block
    }

    h4 {
        color: rgba(255, 119, 0, 1);
    }

</style>
{%for d,k in data%}
<element class="element">
    {%if d.IsValid%}

    <h4>{{d.Name}}</h4>

    <divPhoto>
        <img class="photo" src="{{d.Photo.url}}" alt="photo">
    </divPhoto>
    <br>
    <divCover>
        <h7>
            {{d.CoverLetter}}
            <br>
            <br>
            <a href="{%url 'account' d.id %}">SEE MY PAGE</a>
            <br>
        </h7>
    </divCover>

    {%endif%}
</element>
{%endfor%}
{%endblock%}
